{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" style="background-color:#F7F7F7;">
<head style="background-color:#F7F7F7;">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/green.css" %}">
    <link rel="stylesheet" href="{% static "css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/component.css" %}">
    <link rel="stylesheet" href="{% static "css/alertify.core.css" %}">
    <link rel="stylesheet" href="{% static "css/alertify.default.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.min.css" %}">
    <link rel="stylesheet" href="{% static "css/print.css" %}">

    {% block css %}
    <style>
        .app{
            font-family: Cooper Black;
        }
    </style>
    {% endblock css %}

    <!-- jQuery -->
    <script src="{% static "js/jquery.min.js" %}" ></script>
    <!-- Bootstrap -->
    <script src="{% static "js/bootstrap.min.js" %}" ></script>
    <!-- Datatables -->
    <script src="{% static "js/jquery.dataTables.min.js" %}" ></script>
    <script src="{% static "js/dataTables.bootstrap.min.js" %}" ></script>

    <script src="{% static "js/dataTables.responsive.min.js" %}" ></script>
    <script src="{% static "js/responsive.bootstrap.js" %}" ></script>
    <script src="{% static "js/jquery.validate.js" %}" ></script>
    <script src="{% static "js/alertify.js" %}" ></script>
    <script src="{% static "js/angular.min.js" %}" ></script>
</head>
<body class="">
    <div class="" >
        <div class="container">
            <div class="" >
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>

    {% block js %}{% endblock js %}
    <!-- Custom Theme Scripts -->

</body>
</html>