{% extends 'base.html' %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
{% load helperReportes %}
<h2>Nuestras Estadisticas</h2>
<div class="row center">
    <div class="col-md-5 statistics center-align">
        <div id="chart-ventas"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 statistics">
        <div id="chart-pedidos"></div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChartventas);
google.charts.setOnLoadCallback(drawChartpedidos);

function drawChartventas() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Mes');
    data.addColumn('number', 'Ventas');
    data.addRows([
        ['Enero', {% count_ventas ventas 1 %}],
        ['Febrero', {% count_ventas ventas 2 %}],
        ['Marzo', {% count_ventas ventas 3 %}],
        ['Abril', {% count_ventas ventas 4 %}],
        ['Mayo', {% count_ventas ventas 5 %}],
        ['Junio', {% count_ventas ventas 6 %}],
        ['Julio', {% count_ventas ventas 7 %}],
        ['Agosto', {% count_ventas ventas 8 %}],
        ['Septiembre', {% count_ventas ventas 9 %}],
        ['Octubre', {% count_ventas ventas 10 %}],
        ['Noviembre', {% count_ventas ventas 11 %}],
        ['Diciembre', {% count_ventas ventas 12 %}]
    ]);
    var options = {
        'title':'Ventas en la Gestion {{ hoy.year }}',
        is3D:true,
        'width':400,
        'height':350
    };
    var chart = new google.visualization.PieChart(document.getElementById('chart-ventas'));
    chart.draw(data, options);
}
function drawChartpedidos() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Mes');
    data.addColumn('number', 'Ventas');
    data.addRows([
        ['Enero', {% count_pedidos pedidos 1 %}],
        ['Febrero', {% count_pedidos pedidos 2 %}],
        ['Marzo', {% count_pedidos pedidos 3 %}],
        ['Abril', {% count_pedidos pedidos 4 %}],
        ['Mayo', {% count_pedidos pedidos 5 %}],
        ['Junio', {% count_pedidos pedidos 6 %}],
        ['Julio', {% count_pedidos pedidos 7 %}],
        ['Agosto', {% count_pedidos pedidos 8 %}],
        ['Septiembre', {% count_pedidos pedidos 9 %}],
        ['Octubre', {% count_pedidos pedidos 10 %}],
        ['Noviembre', {% count_pedidos pedidos 11 %}],
        ['Diciembre', {% count_pedidos pedidos 12 %}]
    ]);
    var options = {
        'title':'Pedidos en la Gestion {{ hoy.year }}',
        is3D:true,
        'width':400,
        'height':350
    };
    var chart = new google.visualization.PieChart(document.getElementById('chart-pedidos'));
    chart.draw(data, options);
}
</script>
{% endblock %}