{% extends 'base.html' %}

{% block title %}
Nuestro Inventario
{% endblock %}

{% block content %}
{% load helper_material %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Lista de Productos </h2>
      <ul class="nav navbar-right panel_toolbox">
        <!--li><a href="" class="btn btn-danger " target="_blank" data-toggle="tooltip" title="Psar a PDF!">
            <strong style="color:black;"><i class="fa fa-file-pdf-o"></i></strong>
        </a></li>
        <li><a href="" type="button" href="" class="btn btn-success" data-toggle="tooltip" title="Nuevo Cliente!"><span class="glyphicon glyphicon-plus" ></span></a></li-->
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
        Este es una tabla donde contiene los datos de clavos registrados.
    </p>
    <table class="table striped hovered border bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Longitud(mm)</th>
                <th>Stock</th>
                <th>Salida</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for inventario in inventarios %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ inventario.codigo }}</td>
                <td>{{ inventario.descripcion }}</td>
                <td> <span class="badge" style="background-color:#3a87ad">{{ inventario.precio }} Bs.</span></td>
                <td>{{ inventario.longitud }}</td>
                <td><span class="badge" style="background-color:#468847">{{ inventario.stock }} U. </span></td>
                <td>{% salidamaterial invetario %}</td>
                <td>
                    <a href="{% url 'precio-update-clavo' inventario.id %}" class="btn btn-warning btn-xs" title="Agregar stock">
                        <i class="fa fa-pencil-square"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}