{% extends 'base.html' %}

{% block title %}
Detalle Cliente
{% endblock %}

{% block content %}
<div class="row">
    <h1>Detalle Proveedor</h1>
    <div class="col-md-6">
        <p class="lead">
            <strong>Proveedor: </strong>{{ proveedor.proveedor }}
        </p>
        <p class="lead">
            <strong>Telefono: </strong>{{ proveedor.telefono }}
        </p>
    </div>
    <div class="col-md-6">
        <p class="lead">
            <strong>Email: </strong>{{ proveedor.email }}
        </p>
        <p class="lead">
            <strong>Direccion: </strong>{{ proveedor.direccion }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'proveedor-baja' proveedor.id %}" class="btn btn-danger">
            <span class="fa fa-times-circle"></span> Baja Proveedor
        </a>
    </div>
</div>
{% endblock %}