{% extends 'report.html' %}

{% block title %}
Proveedores
{% endblock %}

{% block cuerpo %}
<h1>Nuestros Proveedores</h1>
<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th width="30px">#</th>
            <th>Proveedor</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ proveedor.proveedor }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}