<h1>Informacion de Venta  </h1>
<table class="table1">
    <tr>
        <td>
            <p>
                <strong>Cliente: </strong>{{ venta.cliente.razon }}
            </p>
            <p>
                <strong>Cedula de Identidad: </strong>{{ venta.cliente.nit }}
            </p>
            <p>
                <strong>Pais / Ciudad: </strong>{{ venta.cliente.ciudad.pais }} / {{ venta.cliente.ciudad }}
            </p>
        </td>
        <td>
            <p>
                <strong>Fecha de Venta: </strong>{{ venta.fecha }}
            </p>
            <p>
                <strong>Costo Total: </strong>{{ venta.costo }}  Bs.
            </p>
            <p>
                <strong>Cantidad Materiales: </strong>{{ venta.detalleventa_set.select_related.count }}
            </p>
        </td>
    </tr>
</table>