{% extends 'report.html' %}

{% block title %}
Detalle Venta {{ venta.id }}
{% endblock %}

{% block cuerpo %}
{% include 'ventas/pdf/__info_venta.html' %}
<div class="row">
    <h2>Materiales Agregados</h2>
    <div class="col-md-12">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="60%">Descripcion</th>
                    <th width="10%">Cantidad</th>
                    <th width="10%">Costo U.(Bs)</th>
                    <th width="15%">Costo T.(Bs)</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ detalle.descripcion }} : {{ detalle.material }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.costo_u }}</td>
                    <td>{{ detalle.costo_t }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}