{% extends 'report.html' %}

{% block title %}
Detalle Venta {{ venta.id }}
{% endblock %}





{% block cuerpo %}
{% include 'ventas/pdf/__info_venta.html' %}
<style>

.app th{
    background-color: #d7d7d7;
    border :1px solid white;
    font-family: courier;
}
.app td{
    text-align:center;
    border-bottom: 1px solid #d7d7d7;
    
}
</style>
<h3 style="font-family:courier; font-size:15px;">III. DATOS MATERIALES</h3>
<table style="font-size:11px; padding-top:3px; ">
    <thead >
        <tr class="app">
            <th  width="6%">#</th>
            <th  width="7%">CANT.</th>
            <th  width="27%">DETALLE</th>
            <th  width="15%">COLOR</th>
            <th  width="8%">LARGO (M)</th>
            <th  width="8%">ANCHO (M)</th>
            <th  width="11%">TOTAL (ML)</th>
            <th  width="7%">P/U (Bs)</th>
            <th  width="11%">TOTAL (Bs)</th>
        </tr>
    </thead>
    <tbody  >
        {% for detalle in detalles %}
        <tr class="app">
            <td >{{ forloop.counter }}</td>
            <td style="background-color:#d7d7d7; border: 1px solid white;">{{ detalle.cantidad | upper}}</td>
            {% if detalle.unidad == 'Calamina' %}
                <td >{{ detalle.preciocalamina.tipo |upper}}</td>
                <td >{{detalle.preciocalamina.color | upper}}</td>
                <td >{{detalle.largo | upper}}</td>
                <td >{{detalle.preciocalamina.ancho | upper}}</td>
                <td style="background-color:#d7d7d7; border: 1px solid white;">{{detalle.totalm | upper}}</td>
                {% else %}
                    <td >{{ detalle.descripcion |upper}}</td>
                    <td >--</td>
                    <td >--</td>
                    <td >--</td>
                    <td >--</td>  
            
            {% endif %}            
            <td >{{ detalle.costo_u | upper}}</td>
            <td style="background-color:#d7d7d7; border: 1px solid white;">{{ detalle.costo_t | upper}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% load helper_pedido %}
<table style="font-size:11px; padding-top:3px; ">

    <tr class="app">

        <td width="6%">Pzas.</td>
        <td width="7%" style="background-color:#d7d7d7; border: 1px solid white;"><strong>{% total_cantidad detalles %}</strong></td>
        <td width="42%"></td> 
        <td width="16%"> Total Metros Lineales</td>
        <td width="11%"  style="background-color:#d7d7d7; border: 1px solid white;"> <strong> {% total_metros detalles  %} ml.</strong></td>
        <td width="7%"></td>
        <td width="11%" style="background-color:#d7d7d7; border: 1px solid white;"><strong>{{ venta.costo | upper}} Bs.</strong></td>

    </tr>
    
</table>
   
{% endblock %}