{% extends 'report.html' %}

{% block title %}
Detalle Venta {{ venta.id }}
{% endblock %}

{% block cuerpo %}
{% include 'ventas/pdf/__info_venta.html' %}
<div class="row">
    <h2>Materiales Agregados</h2>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th width="30px">#</th>
                    <th width="80px">Cantidad</th>
                    <th width="80">Material</th>
                    <th width="150">Descripcion</th>
                    <th width="120px">Costo U.(Bs)</th>
                    <th width="120px">Costo T.(Bs)</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.unidad }}</td>
                        <td>{{ detalle.descripcion }}</td>
                        <td>{{ detalle.costo_u }}</td>
                        <td>{{ detalle.costo_t }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}