{% extends 'report.html' %}

{% block title %}
Recibo Oficial 
{% endblock %}

{% block cuerpo %}
<style>
    .app{
        font-family: courier;
        font-size:12px;
    }
</style>
<h1 align="center" class="app">RECIBO OFICIAL</h1>
<table style="font-size:11px" class="app">
    <tr>
        <td width="15%" align="right" class="app"><strong>EMPRESA:</strong> </td>
        <td width="5%"></td>
        <td width="80%" class="celdas app" align="center" style="background-color:#d7d7d7;">{{ venta.cliente.razon|upper }}</td>
        
    </tr>
    <tr></tr>
     <tr>
        <td width="15%" align="right"><strong>NIT / CI:</strong> </td>
        <td width="5%"></td>
        <td width="80%" class="celdas" align="center" style="background-color:#d7d7d7;">{{ venta.cliente.nit |upper}}</td>
        
    </tr>

</table>
<br>
<table  class="app">
    <tr>
        <td width="20%" style="border: white" align="right">RECIBI LA SUMA DE: </td>
        <td width="10%" style="border: white" align="center"><strong>Bs.</strong></td>
        <td width="30%" class="celdas" style="background-color:#d7d7d7;" align="center"><strong style="font-size:15px;">{{ venta.costo | upper}}</strong></td>
        <td width="40%"></td>
    </tr>
    <tr></tr>
    <tr>
        <td width="20%" style="border: white"></td>
        <td width="10%" style="border: white" align="center"><strong>SON</strong></td>
        <td width="70%" colspan="2" class="celdas" style="background-color:#d7d7d7;" align="center">{{ literal_amount|upper }} {{ decimal_amount }} /100</td>
    </tr>
</table>

<!--table>
    <tr>
        <td width="23%" style="font-size: 16px;">
            POR CONCEPTO DE:
        </td>
        <th width="77%">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="25%">Material</th>
                        <th width="25%">Descripcion</th>
                        <th width="10%">Cantidad</th>
                        <th width="15%">Costo U.(Bs)</th>
                        <th width="20%">Costo T.(Bs)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ detalle.material }}</td>
                            <td>{{ detalle.descripcion }}</td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>{{ detalle.costo_u }}</td>
                            <td>{{ detalle.costo_t }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </th>
    </tr>
</table-->
<div class="row ">
  <td width="40%"><h2>POR CONCEPTO DE:</h2></td>  
  <div class="col-md-12">
    <table width="100%" border="" cellpadding="5px" class="table app" style="font-size:9px">
        <tbody>

            {% for detalle in detalles %}
            {% if detalle.unidad == 'Calamina' %}
            <tr>
                <td width="40%" style="border: white"></td>
                <td align="left" style="background-color:#d7d7d7;" style="font-size:6px"> {{ detalle.cantidad }} Pzas. de {{detalle.tipo}} de {{detalle.preciocalamina.espesor}}  X {{detalle.preciocalamina.ancho}}</td>
                
            </tr>
            {% else %}
            <tr>
                <td width="40%" style="border: white"></td>
                <td align="left" style="background-color:#d7d7d7;">{{ detalle.cantidad }} {{ detalle.unidad }} de {{detalle.descripcion}}  </td>
            </tr>

            {% endif %}

            {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <tr>
            <td width="40%" style="border: white"></td>
            <td align="right" style="background-color:#d7d7d7;" class="app">
                Segun Orden de Produccion: Nro. <strong>{{ venta.nro_venta }}/{{ venta.fecha|date:"Y" }}</strong>
            </td>
        </tr>
    </table>
</div>
</div>
<br>
<table class="app">
    <hr style="border-top: 5px double #8c8b8b;">
    <tr>
        <td colspan="2" align="center" style="background-color: #d7d7d7; height: 20px;
        vertical-align: bottom;"><strong > ENTREGUE CONFORME </strong></td>
        <td width="50px"></td>
        <td colspan="2" align="center" style="background-color: #d7d7d7; height: 20px;
        vertical-align: bottom;"><strong>RECIBÍ CONFORME</strong></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <th width="15%">Firma:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th width ="15%">Firma:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th>Nombre:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>Nombre:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th >Cargo:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>Cargo:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th >N° C.I.:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>N° C.I.:</th>
        <th><hr></th>
        <tr>
            <tr></tr>
            <th >Lugar y Fecha:</th>
            <td colspan="4"><hr></td>
        </tr>

    </table>
    <hr style="border-top: 10px double #8c8b8b;">
    {% endblock %}