{% extends 'base.html' %}

{% block title %}
Materias Primas
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
    <a href="{% url 'materia-pdf' %}" class="btn btn-info" target="_blank">
        <i class="fa fa-file-pdf"></i> Pasar a PDF
    </a>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table striped hovered border bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Detalle</th>
                    <th>Peso</th>
                    <th>T. Superficie</th>
                    <th>Estandar</th>
                    <th>Certificacion</th>
                    <th>Metros Lineales</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ material.marca }}</td>
                        <td>{{ material.detalle }}</td>
                        <td>{{ material.peso }} {{ material.medida }}</td>
                        <td>{{ material.superficie }}</td>
                        <td>{{ material.estandar }}</td>
                        <td>{{ material.certificacion }}</td>
                        <td><span class="label label-success">{{ material.longitud }}</span> M.</td>
                        <td>
                            <a href="{% url 'materia-update' material.id %}" class="btn btn-warning btn-xs" title="Editar Materia Prima">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a href="{% url 'materia-detail' material.id %}" class="btn btn-info btn-xs" title="Detalle Materia Prima">
                                <i class="fa fa-info-circle"></i>
                            </a>
                            <a href="{% url 'materia-baja' material.id %}" class="btn btn-danger btn-xs" title="Baja Materia Prima">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}