{% extends 'base.html' %}

{% block title %}
 Nuestro Inventario de Calaminas
{% endblock %}

{% block content %}
{% load helper_material %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Inventario Calaminas</h2>
      <ul class="nav navbar-right panel_toolbox">
        <!--li><a href="" class="btn btn-danger " target="_blank" data-toggle="tooltip" title="Psar a PDF!">
            <strong style="color:black;"><i class="fa fa-file-pdf-o"></i></strong>
        </a></li>
        <li><a href="" type="button" href="" class="btn btn-success" data-toggle="tooltip" title="Nuevo Cliente!"><span class="glyphicon glyphicon-plus" ></span></a></li-->
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
        Este es una tabla donde contiene los datos del Calaminas registrados.
    </p>
    <table class="table striped hovered border bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Material</th>
                <th>Detalle</th>
                <th>Peso</th>
                <th>Espesor(mm)</th>
                <th>Ancho(ml)</th>
                <th>Stock Disponible(ml)</th>
                <th>Longitud Ini.(ml)</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiap %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ material.tipo }}</td>
                    <td>{{ material.detalle }}</td>
                    <td>{{ material.peso }} {{ material.medida }}</td>
                    <td>{{ material.espesor }}</td>
                    <td>{{ material.ancho }}</td>
                    <td><span class="badge badge-info" style="background-color: #3a87ad;">{{ material.stock }}</span></td>
                    <td><span class="badge badge-inverse">{{ material.longitud }}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}