{% extends 'base.html' %}

{% block title %}
Nuestros Precios
{% endblock %}

{% block content %}
<!--div class="col-md-12">
    <a href="{% url 'materia-pdf' %}" class="btn btn-info" target="_blank">
        <i class="fa fa-file-pdf"></i> Pasar a PDF
    </a>
</div-->
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Nuestros Precios  de Calaminas</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
  <p class="text-muted font-13 m-b-30">
    Este es una tabla donde contiene los datos de los los precios de calaminas registrados.
</p>
        <table class="table striped hovered border bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Espesor(mm)</th>
                    <th>Color</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for precio in precios %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ precio.codigo }}</td>
                        <td>{{ precio.descripcion }}</td>
                        <td><span class="badge" style="background-color:#3a87ad">{{ precio.precio }} Bs. </span> </td>
                        <td>{{ precio.espesor }}</td>
                        <td>{{ precio.color }}</td>
                        <td>
                            <a href="{% url 'precio-update' precio.id %}" class="btn btn-warning btn-xs" title="Editar Precio">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a href="{% url 'precio-baja' precio.id %}" class="btn btn-danger btn-xs" title="Baja Precio">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}