{% extends 'base.html' %}

{% block title %}
Registrar Materia Prima
{% endblock %}

{% block content %}
<div class="">
    <div class="tab-content">
        
            {% include 'includes/__form_calamina.html' %}

        <div role="tabpanel" class="tab-pane" id="profile">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    var html = '<option>------</option>';
    {% for color in coloresss %}
        html += '<option value="{{ color.color }}" id="{{ color.codigo }}">{{ color.color }}</option>';
    {% endfor %}
    //hiden();
    $('#id_color').html(html);
    $('#id_tipo').change(function () {
        hiden();
    });
    function hiden() {
        var tipo = $('#id_tipo').val();
        $('#id_unidad').attr('readonly','readonly');
        if(tipo == 'Clavos'){
            $('#id_ancho').parent().parent().addClass('hide');
            $('#id_longitud').parent().parent().addClass('hide');
            $('#id_colores').parent().parent().addClass('hide');
            $('#id_unidad').val('Alambron');
        }
        if(tipo == 'Calamina'){
            $('#id_ancho').parent().parent().removeClass('hide');
            $('#id_longitud').parent().parent().removeClass('hide');
            $('#id_colores').parent().parent().removeClass('hide');
            $('#id_unidad').val('Bobina');
        }
    }
    $('#id_colores').change(function () {
        var color = $(this).val();
        $.ajax({
            data:{'id': color},
            url:"{% url 'material-ajax-color-colored' %}",
            type:'GET',
            success: function(data){
                $('#informarioncolor').css('background-color', data[0].codigo)
            },
            failure: function(data){
                console.log('error')
            }
        });
    })

});
</script>
    {% include '__popup_script.html' %}
{% endblock %}