{% extends '__form.html' %}

{% block title %}
Registrar Precio
{% endblock %}

{% block legend %}
Registrar Precio
{% endblock %}

{% block cuerpo-form %}
{% for field in form %}
    <div class="form-group">
        {% if field.errors %}
            <div class="mypadding2 bg-red fg-white margin10 no-margin-right no-margin-left">
                <i class="fa fa-exclamation-triangle"></i>{{ field.errors }}
            </div>
        {% endif %}
        {{ field.label_tag }}
        {% if field.html_name == 'precio' %}
            <div class="col-sm-6">
                {{ field }}
                {% if field.help_text %}
                    <small class="fg-green block padding10 no-padding-top">
                        <i class="fa fa-info-circle"></i> {{ field.help_text|safe }}
                    </small>
                {% endif %}
            </div>
            <div class="col-sm-3" id="informacionid" style="">

            </div>
        {% else %}
            {% if field.html_name == 'materia' %}

                <div class="col-sm-8">
                    {{ field }}
                    {% if field.help_text %}
                        <small class="fg-green block padding10 no-padding-top">
                            <i class="fa fa-info-circle"></i> {{ field.help_text|safe }}
                        </small>
                    {% endif %}
                </div>
                <div class="col-sm-1" style="line-height: 30px">
                    <a href="{% url 'materia-new-popup' %}" class="btn btn-success add-another" title="Registrar Ciudad" id="{{ field.auto_id }}">
                        <i class="fa fa-plus-circle "></i>
                    </a>
                </div>
            {% else %}
                <div class="col-sm-9">
                    {{ field }}
                    {% if field.help_text %}
                        <small class="fg-green block padding10 no-padding-top">
                            <i class="fa fa-info-circle"></i> {{ field.help_text|safe }}
                        </small>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
{% endblock %}


{% block js %}
<script>
$(document).ready(function () {
    $('#id_codigo').val('CAL - {{ key }}');

    var html = '<option>------</option>';
    {% for color in colores %}
        html += '<option value="{{ color.color }}">{{ color.color }}</option>';
    {% endfor %}
    $('#id_color').html(html);

    var html = '<option>------</option>';
    {% for materia in materias %}
        html += '<option value="{{ materia.id }}">{{ materia }}</option>';
    {% endfor %}
    $('#id_materia').html(html);
    var longitud = 0;
    var informacion = '';
    //material-ajax-material
    $('#id_materia').change(function () {
        var id = $(this).val();
            $.ajax({
            data:{'id': id},
            url:"{% url 'material-ajax-material' %}",
            type:'GET',
            success: function(data){
                $('#id_color').val(data[0]['color']);
                $('#id_espesor').val(data[0]['espesor']);
                $('#informacionid').html('Lon: '+data[0]['stock']+' ml.');
                longitud = data[0]['stock'];
                informacion = $('#informacionid').html();
            },
            failure: function(data){
                console.log('error')
            }
        });
    });
    $('#id_precio').keyup(function () {
        var precio = $(this).val();
        var g = precio * longitud;
        $('#informacionid').html(informacion + ' - Venta: ' + g +'Bs.');
    });
});
</script>
{% include '__popup_script.html' %}
{% endblock %}