{% extends '__popup_base.html' %}

{% block title %}
Registrar Materia Prima
{% endblock %}

{% block content %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        {% include 'includes/__form_calamina.html' %}
        
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    var html = '<option>------</option>';
    {% for color in coloresss %}
    html += '<option value="{{ color.color }}">{{ color.color }}</option>';
    {% endfor %}
    //hiden();
    $('#id_color').html(html);
    $('#id_tipo').change(function () {
        hiden();
    });
    function hiden() {
        var tipo = $('#id_tipo').val();
        if(tipo == 'Clavos'){
            $('#id_ancho').parent().parent().addClass('hide');
            $('#id_longitud').parent().parent().addClass('hide');
            $('#id_colores').parent().parent().addClass('hide');
        }
        if(tipo == 'Calamina'){
            $('#id_ancho').parent().parent().removeClass('hide');
            $('#id_longitud').parent().parent().removeClass('hide');
            $('#id_colores').parent().parent().removeClass('hide');
        }
    }

});
function closeWin() {
    window.close();
}
</script>
{% include '__popup_script.html' %}
{% endblock %}