{% extends 'report.html' %}

{% block title %}
Materia Prima
{% endblock %}

{% block cuerpo %}
<h1>Materia Prima</h1>
<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th width="20px">#</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Peso</th>
            <th width="70px">Espesor</th>


        </tr>
    </thead>
    <tbody>
        {% for material in materiales %}
        {% if material.tipo == 'Clavos' %}
        <tr >
            <td>{{ forloop.counter }}</td>
            <td>{{material.fecha}}</td>
            <td> Alambron: {{material.nro_serie}} </td>
            <td>{{ material.peso }} {{ material.medida }}</td>
            <td>{{ material.espesor }}</td>
        </tr>
        
        {% endif %}

        {% endfor %}
    </tbody>
</table>
{% endblock %}