{% extends 'report.html' %}

{% block title %}
Materia Prima
{% endblock %}

{% block cuerpo %}
<h2 align="center">MATERIA PRIMA</h2>
<table >
    {% for material in materiales %}   
    {% if material.tipo == 'Calamina' %} 
    <div> 
        <tr></tr>
        <tr>
            <th class="celdas" colspan="5" width="100%" align="left" style="font-family: courier; font-size:15px; border: white;background-color:#d7d7d7;">{{ forloop.counter }}  DATOS TECNICOS DE BOBINA: <strong>{{ material.codigo |upper}}</strong> </th>
        </tr>
        <tr></tr>
        <tr  style="font-family: courier; font-size:12px;">
            <td width="15%">
                <strong> UNIDAD: </strong></br>
                <strong> CODIGO: </strong></br>
                <strong> TIPO: </strong></br>
                <strong> NUM. SERIE: </strong></br> 
                <strong> MARCA: </strong> </br>
                <strong> CANTIDAD: </strong> </br>
                <strong> ESPESOR: </strong> </br>
                <strong> ANCHO: </strong> </br>
                
            </td>
            <td width="15%">
                {{ material.unidad |upper}}</br> 
                {{ material.codigo |upper}}</br>
                {{ material.tipo |upper}}</br>
                {{ material.nro_serie |upper}}</br>
                {{ material.marca |upper}}</br>
                {{ material.cantidad |upper }}</br>
                {{ material.espesor |upper}} mm.</br>
                {{ material.ancho |upper}} mm.</br>
                
            </td>
            <td width="20%"></td>
            <td width="20%">
                <strong> PESO: </strong></br>
                <strong> LOGITUD APROX.: </strong> </br>
                <strong> M.L. DISPONIBLES: </strong></br>
                <strong> COLOR: </strong> </br>
                <strong> FECHA: </strong> </br>
                <strong> PRECIO: </strong> </br>
                <strong> PROVEEDOR: </strong> </br>
                <strong> USUARIO: </strong> </br>
                
            </td>
            <td width="32%">
                {{ material.peso |upper}} {{ material.medida |upper}}</br>
                {{ material.longitud |upper}} ml.</br>
                {{ material.stock |upper}} ml.</br>
                {{ material.color |upper}}</br>
                {{ material.fecha |upper}}</br>
                {{ material.precioc |upper}} Bs.</br>
                {{ material.proveedor |upper}}</br>
                {{material.user.first_name|upper}} {{ material.user.last_name |upper}} </br>
                
            </td>
        </tr>
    </div>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}