{% extends 'report.html' %}

{% block title %}
Materia Prima
{% endblock %}

{% block cuerpo %}
<h1>Materia Prima</h1>
<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th width="30px">#</th>
            <th>Marca</th>
            <th>Detalle</th>
            <th>Peso</th>
            <th>T. Superficie</th>
            <th>Estandar</th>
            <th>Certificacion</th>
        </tr>
    </thead>
    <tbody>
        {% for material in materiales %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ material.marca }}</td>
                <td>{{ material.detalle }}</td>
                <td>{{ material.peso }} {{ material.medida }}</td>
                <td>{{ material.superficie }}</td>
                <td>{{ material.estandar }}</td>
                <td>{{ material.certificacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}