{% extends '__form.html' %}

{% block title %}
Agregar Material
{% endblock %}

{% block info-form %}
{% include 'includes/__info_venta.html' %}
{% endblock %}

{% block legend %}
Agregar Material
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var option = '';
        var cantidad = 0;

        $('#id_materiaprima').change(function () {
            var precio_id = $(this).val();
            if(precio_id){
                $.ajax({
                    data:{'precio_id': precio_id},
                    url:"{% url 'venta-ajax-precio-clavo' %}",
                    type:'GET',
                    success: function(data){
                        $('#id_costo_u').val(data[0]['precio']);
                        precio = data[0]['precio'];
                        $('#id_cantidad').attr('min', 1);
                        $('#id_cantidad').attr('max', data[0]['stock']);
                        $('#id_cantidad').attr('title', 'La cantidad debe ser mayor a 1 y menor a '+data[0]['stock']);
                    },
                    failure: function(data){
                        console.log('error')
                    }
                });
            }else{
                $('#id_costo_u').val(0)
            }
        });

        $('#id_cantidad').keyup(function () {
            if($(this).val()){
                cantidad = $(this).val();
                var costo_t = cantidad * precio;
                $('#id_costo_t').val(costo_t);
            }
            else{
                cantidad = 0;
            }
        });

        $('#id_materiaprima').change(function () {
            var select = $('#id_materiaprima').val();
            option = $('option[value='+select+']').html();
            $('#id_descripcion').val(option);
        });
        $('#id_largo').change(function () {
            var large = $('#id_largo').val();
            $('#id_descripcion').val(option + ' - Largo: '+large+' mm');
        });
        $('#id_costo_u').keyup(function () {
            var costo = $('#id_costo_u').val();
            var cantidad = $('#id_cantidad').val();

            if(costo && cantidad){
                var costo_t = costo * cantidad;
                $('#id_costo_t').val(costo_t);
            }
        });
    });
</script>
{% endblock %}