{% extends 'base.html' %}

{% block title %}
Detalle Venta
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-4">
    <a href="{% url 'venta-pdf-detail' venta.id %}" class="btn btn-info" target="_blank">
        <i class="fa fa-file-pdf-o"></i> Pasar a PDF
    </a>
</div>
<div class="col-md-4">
    <a href="{% url 'venta-pdf-recibo' venta.id %}" class="btn btn-warning" target="_blank">
        <i class="fa fa-list-alt"></i> Recibo
    </a>
</div>
<div class="col-md-4">
    <a href="{% url 'venta-pdf-factura' venta.id %}" class="btn btn-danger" target="_blank">
        <i class="fa fa-credit-card"></i> Factura
    </a>
</div>
</div>
{% include 'includes/__info_venta.html' %}
<div class="row">
    <h3>Materiales Agregados</h3>
    <div class="col-md-12">
        <table class="table striped hovered table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Material</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Costo U.</th>
                    <th>Costo T.</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ detalle.material }}</td>
                        <td>{{ detalle.descripcion }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.costo_u }}</td>
                        <td>{{ detalle.costo_t }}</td>
                    </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}