{% extends 'base.html' %}

{% block title %}
Ventas No Confirmados
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2 class="app">Ventas No Confirmados <small style="font-family:arial">Lista de Materiales</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
      </ul>
      <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table striped hovered border bordered" width="100%">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>C.I.</th>
                <th>Nombres</th>
                
                <th>Cant.Material</th>
                <th>CostoT.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ venta.cliente.nit }}</td>
                <td>{{ venta.cliente.razon }}</td>
                
                <td>{{ venta.detalleventa_set.count }}</td>
                <td>{{ venta.costo }}</td>
                <td>
                    <a href="{% url 'venta-delete' venta.id %}" class="btn btn-danger btn-xs" title="Eliminar Venta">
                        <i class="fa fa-eraser"></i>
                    </a>
                    <!--a href="{% url 'venta-new-add-material' venta.id %}" class="btn btn-warning btn-xs" title="Editar Venta">
                        <i class="fa fa-edit"></i>
                    </a-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}