{% extends 'report.html' %}

{% block title %}
Ventas Fecha {{ fecha|date }}
{% endblock %}

{% block cuerpo %}
{% load helper_ventas %}
<h1 class="center">Reporte Ventas</h1>
<h2>Ventas en fecha: {{ fecha|date }}</h2>
<div class="col-md-12">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>Cliente</th>
                <th>NIT/CI</th>
                <th>Cantidad Materiales</th>
                <th>Total Precio(Bs)</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ venta.cliente.razon }}</td>
                    <td class="center">{{ venta.cliente.nit }}</td>
                    <td class="center">{{ venta.detalleventa_set.select_related.count }}</td>
                    <td width="20%" class="right">{{ venta.costo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table" width="100%">
        <tr>
            <th width="84%">TOTALES</th>
            <td width="16%" class="right">{% sum_ventas ventas %}</td>
        </tr>
    </table>
</div>
{% endblock %}