<h1>Informacion Pedido</h1>
<table class="table1">
    <tr>
        <td>
            <p>
                <strong>Cliente: </strong>{{ pedido.cliente.razon }}
            </p>
            <p>
                <strong>Cedula de Identidad: </strong>{{ pedido.cliente.nit }}
            </p>
            <p>
                <strong>Pais / Ciudad: </strong>{{ pedido.cliente.ciudad.pais }} / {{ pedido.cliente.ciudad }}
            </p>
        </td>
        <td>
            <p>
                <strong>Fecha Pedido: </strong>{{ pedido.fecha }}
            </p>
            <p>
                <strong>Costo Total: </strong>{{ pedido.costo }}  Bs.
            </p>
            <p>
                <strong>Cantidad Materiales: </strong>{{ pedido.detallepedido_set.select_related.count }}
            </p>
        </td>
    </tr>
</table>