{% extends 'report.html' %}

{% block title %}
Detalle Pedido {{ pedido.id }}
{% endblock %}
{% block cuerpo %}
<h1 style="font-family: courier;" align="center">Orden De Producción </h1>
<table class="" style="font-size:10px;">
    <tr>
        <td width="80%"></td>
        <td class="" width="10%" align="right"> <strong>Nro.Prod.</strong> </td>
        <td width="5px"></td>
        <td  width="10%" class="celdas" align="center">{{ pedido.id }}/{{ pedido.fecha.year }}</td>
    </tr>
</table>
    <br>
<table class="" style="font-size:10px;">
    <tr>
        <td width="17%" align="right"><strong>Lugar y Fecha:</strong> </td>
        <td width="5px"></td>
        <td width="50%" class="celdas" align="center">Potosí, {{ pedido.fecha }}</td>
        <td width="25%" align="right"> <strong>Plazo de Entrega(Dias):</strong> </td>
        <td width="5px"></td>
        <td width="10%" class="celdas" align="center">{{ pedido.plazo }}</td>
    </tr>
</table>
<h2 align="center">Materiales Agregados</h2>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th width="50px">#</th>
            <th width="80px">Cantidad</th>
            <th width="80px">Unidad</th>
            <th width="300px">Descripcion</th>
            <th width="70px">Color</th>
            <th width="90px">Largo(ML)</th>
            <th width="90px">Ancho(ML)</th>
            <th width="90px">Total(ML)</th>
            <th width="100px">ConMateriaP.</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.unidad }}</td>
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.color }}</td>
            <td>{{ detalle.largo }}</td>
            <td>{{ detalle.ancho }}</td>
            <td>{{ detalle.totalm }}</td>
            <td>
                {% for materia in detalle.material.all %}
                <p>Bobina: {{ materia.nro_serie }}</p>
                {% endfor %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<table class="table striped hovered border bordered">
            <tr>
            <th width="51px">Pzas.</th>
            <td width="80px"></td>
            <td width="80px" colspan="2"></td>
            <th width="" colspan="3"> Total Metros Lineales</th>
            <td width="90px" align="center"> <strong>{{ detalle.totalm }}</strong></td>       
        </tr>
</table>
<hr>
<table>
    <tr>
        <th width="70%">
            <p style="font-size: 14px">
                <strong>Usuario Solicitante:</strong> {{ request.user }}
            </p>
        </th>
        <th width="30%">
            <br><br><br>
            <hr>
            Firma(Sello de Pie)
        </th>
    </tr>
</table>
{% include 'pedidos/pdf/__info_produccion.html' %}
<br>
<table>
    <tr><th>
        <h3 align="left">Despacho:</h3></th>
    </tr>

    <tr>
        <td colspan="2" align="center" style="background-color: #73879C; height: 20px;
        vertical-align: bottom;"><strong > ENTREGUE CONFORME </strong></td>
        <td width="50px"></td>
        <td colspan="2" align="center" style="background-color: #73879C; height: 20px;
        vertical-align: bottom;"><strong>RECIBÍ CONFORME</strong></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <th width="15%">Firma:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th width ="15%">Firma:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th>Nombre:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>Nombre:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th >Cargo:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>Cargo:</th>
        <th><hr></th>
    </tr>
    <tr></tr>
    <tr>
        <th >N° C.I.:</th>
        <th><hr></th>
        <td width="50px"></td>
        <th>N° C.I.:</th>
        <th><hr></th>
        <tr>
            <tr></tr>
            <th >Lugar y Fecha:</th>
            <td colspan="4"><hr></td>
        </tr>
    </table>
    {% endblock %}