<div class="row">
    <h3>Informacion Venta # {{ venta.id }} </h3>
    <div class="col-md-6">
        <p>
            <strong>Cliente: </strong>{{ venta.cliente.nombres }} {{ venta.cliente.apellidos }}
        </p>
        <p>
            <strong>Cedula de Identidad: </strong>{{ venta.cliente.ci }}
        </p>
        <p>
            <strong>Pais / Ciudad: </strong>{{ venta.cliente.ciudad.pais }} / {{ venta.cliente.ciudad }}
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <strong>Fecha Venta: </strong>{{ venta.fecha }}
        </p>
        <p>
            <strong>Costo Total: </strong>{{ venta.costo }}  Bs.
        </p>
        <p>
            <strong>Cantidad Materiales: </strong>{{ venta.detalleventa_set.select_related.count }}
        </p>
    </div>
</div>