<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="dashboard_graph x_panel">
    <div class="row x_title">
      <div class="col-md-6">
        <h3 class="app">Información Venta </h3>
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="x_content">
    <div class="col-md-6">
        <p>
            <strong>Cliente: </strong>{{ venta.cliente.razon }}
        </p>
        <p>
            <strong>NIT/CI: </strong>{{ venta.cliente.nit }}
        </p>
        <p>
            <strong>Pais / Ciudad: </strong>{{ venta.cliente.ciudad.pais }} / {{ venta.cliente.ciudad }}
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <strong>Fecha Venta: </strong>{{ venta.fecha }}
        </p>
        <p>
            <strong>Costo Total: </strong>{{ venta.costo }}  Bs.
        </p>
        <p>
            <strong>Cantidad Materiales: </strong>{{ venta.detalleventa_set.select_related.count }}
        </p>
    </div>
</div>
</div>
</div>
