<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph x_panel">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>Informacion Pedido </h3>
      </div>
      <div class="col-md-6">

      </div>
  </div>
  <div class="x_content">
     <div class="col-md-6">
        <p>
            <strong>Cliente: </strong>{{ pedido.cliente.razon }}
        </p>
        <p>
            <strong>NIT/CI: </strong>{{ pedido.cliente.nit }}
        </p>
        <p>
            <strong>Pais / Ciudad: </strong>{{ pedido.cliente.ciudad.pais }} / {{ pedido.cliente.ciudad }}
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <strong>Fecha Pedido: </strong>{{ pedido.fecha }}
        </p>
        <p>
            <strong>Costo Total: </strong>{{ pedido.costo }}  Bs.
        </p>
        <p>
            <strong>Cantidad Materiales: </strong>{{ pedido.detallepedido_set.select_related.count }}
        </p>
    </div>
</div>
</div>
</div>
</div>

