<script>
function pruebaDivAPdf() {
    var pdf = new jsPDF('p', 'pt', 'letter');
    source = `{{ html|safe }}`;
    specialElementHandlers = {
        '#bypassme': function (element, renderer) {
            return true
        }
    };
    margins = {
        top: 20,
        bottom: 20,
        left: 20,
        width: 560
    };

    pdf.fromHTML(
        source,
        margins.left, // x coord
        margins.top, { // y coord
            'width': margins.width,
            'elementHandlers': specialElementHandlers
        },

        function (dispose) {
            pdf.save('Prueba.pdf');
        }, margins
    );
}
</script>