{% extends 'base.html' %}

{% block title %}
{{ request.user.username|upper }}
{% endblock %}

{% block content %}
<div class="row">
    <h2>Informacion de Usuario</h2>
    <div class="col-md-12">
        <p class="lead">
            <strong>Usuario: </strong>{{ user.username }}
        </p>
    </div>
</div>
<div class="row">
    <h1>Permisos</h1>
    <div class="col-md-6">
        <h2>Permisos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Permiso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ grupo.name }}</td>
                        <td>
                            <a href="{% url 'user-add-permission' grupo.id user.id %}" class="btn btn-success btn-xs" title="Asignar Permiso">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Permisos Asignados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Permiso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for asignado in asignados %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ asignado.name }}</td>
                        <td>
                            <a href="{% url 'user-remove-permission' asignado.id user.id %}" class="btn btn-danger btn-xs" title="Quitar Permiso">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>                
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}