{% extends 'report.html' %}

{% block title %}
Ventas Fecha {{ fecha|date }}
{% endblock %}

{% block cuerpo %}
{% load helperReportes %}
<h1 class="center">Reporte Materiales</h1>
<h2>Salida de Material en fecha: {{ fecha|date }}</h2>
<h2>Tipo de Material: {{ material }}</h2>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha Salida</th>
                <th>Tipo</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ detalle.venta.fecha|date }}</td>
                    <td>{{ detalle.tipo }}</td>
                    <td>{{ detalle.descripcion }}</td>
                    <td>{{ detalle.unidad }}</td>
                    <td>{{ detalle.cantidad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table" width="100%">
        <tr>
            <th width="84%">TOTALES</th>
            <td width="16%" class="right">{% sum_cant_salidas detalles %}</td>
        </tr>
    </table>
</div>

{% endblock %}