{% extends '__form.html' %}

{% block title %}
Agregar Material
{% endblock %}

{% block info-form %}
{% include 'includes/__info_pedido.html' %}
{% endblock %}

{% block legend %}
Agregar Material
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var option = '';
        $('#id_materiaprima').change(function () {
            var select = $('#id_materiaprima').val();
            option = $('option[value='+select+']').html();
            $('#id_descripcion').val(option);
        });
        $('#id_largo').change(function () {
            var large = $('#id_largo').val();
            $('#id_descripcion').val(option + ' - Largo: '+large+' mm');
        });
        $('#id_costo_u').keyup(function () {
            var costo = $('#id_costo_u').val();
            var cantidad = $('#id_cantidad').val();

            if(costo && cantidad){
                var costo_t = costo * cantidad;
                $('#id_costo_t').val(costo_t);
            }
        });
    });
</script>
{% endblock %}