{% extends 'base.html' %}

{% block title %}
Nuestros Clientes
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Clientes Bajas <small style="font-family:arial">Lista de Clientes </small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
  <p class="text-muted font-13 m-b-30">
    Este es una tabla donde contiene los datos de los clientes registrados que estan dados de baja.
</p>
<div class="">
    <table class="table striped hovered border bordered" width="100%">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>C.I. / NIT</th>
                <th>NOMBRE O RAZON SOCIAL</th>
                <th>TELÉFONO</th>
                <th>DIRECCIÓN</th>
                <th>PAÍS / CIUDAD</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cliente.nit }}</td>
                <td>{{ cliente.razon |upper}}</td>
                <td>{{ cliente.telefono |upper}}</td>
                <td>{{ cliente.direccion |upper}}</td>
                <td>{{ cliente.ciudad.pais |upper}} / {{ cliente.ciudad |upper}}</td>
                <td>
                    <a href="{% url 'cliente-activate' cliente.id %}" class="btn btn-success btn-xs" title="Activar Cliente">
                        <i class="fa fa-check-square"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}