{% extends 'base.html' %}

{% block title %}
Nuestros Clientes
{% endblock %}

{% block content %}
<div class="cell colspan12 row col-md-12">
    <table class="table striped hovered border bordered">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>C.I.</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Pais</th>
                <th>Ciudad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ cliente.ci }}</td>
                    <td>{{ cliente.nombres }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.ciudad.pais }}</td>
                    <td>{{ cliente.ciudad }}</td>
                    <td>
                        <a href="{% url 'cliente-activate' cliente.id %}" class="btn btn-success btn-xs" title="Activar Cliente">
                            <i class="fa fa-check-square"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}