{% extends 'base.html' %}

{% block title %}
Nuestros Clientes
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Lista de clientes </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a href="{% url 'cliente-pdf' %}" class="btn btn-info" target="_blank">
            <i class="far fa-file-pdf"></i> Pasar a PDF
        </a></li>
        <li><a type="button" href="" class="collapse-link" data-toggle="tooltip" title="Nuevo!"><span class="glyphicon glyphicon-plus" ></span></a></li>
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link" href=""><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
  <p class="text-muted font-13 m-b-30">
    Este es una tabla donde contiene los datos de los clientes registrados.
</p>
<div class="row col-md-12" id="imprimir">
    <table class="table striped table-bordered hovered border bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>C.I.</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Pais</th>
                <th>Ciudad</th>
                <th>Acciónes</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cliente.ci }}</td>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.ciudad.pais }}</td>
                <td>{{ cliente.ciudad }}</td>
                <td>
                    <a href="{% url 'cliente-update' cliente.id %}" class="btn btn-warning btn-xs" title="Editar Cliente">
                        <i class="fa fa-pencil-square"></i>
                    </a>
                    <a href="{% url 'cliente-detail' cliente.id %}" class="btn btn-info btn-xs" title="Detalle Cliente">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    <a href="{% url 'cliente-baja' cliente.id %}" class="btn btn-danger btn-xs" title="Baja Cliente">
                        <i class="fa fa-times-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script>
function pruebaDivAPdf() {
    var pdf = new jsPDF('p', 'pt', 'letter');
    source = $('#imprimir')[0];

    specialElementHandlers = {
        '#bypassme': function (element, renderer) {
            return true
        }
    };
    margins = {
        top: 80,
        bottom: 60,
        left: 40,
        width: 522
    };

    pdf.fromHTML(
        source,
        margins.left, // x coord
        margins.top, { // y coord
            'width': margins.width,
            'elementHandlers': specialElementHandlers
        },

        function (dispose) {
            pdf.save('Prueba.pdf');
        }, margins
        );
}
</script>
{% endblock %}