{% extends '__form.html' %}

{% block title %}
Registrar Cliente
{% endblock %}

{% block info-form %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <!--a href="#" onClick="window.open('{% url 'cliente-new-ciudad-popup' %}','popup', 'width=400px,height=400px')">
            Registrar Ciudad
        </a-->
        <a href="{% url 'cliente-new-ciudad' %}" class="btn btn-success">
            Registrar Ciudad
        </a>
    </div>
</div>
{% endblock %}

{% block legend %}
Registrar Cliente
{% endblock %}

{% block js %}
<script>

    $(document).ready(function () {
        $('#id_pais').change(medida);
        function medida(){
            if($(this).val()){
                var id = $(this).val();
                $.ajax({
                    data:{'id': id},
                    url:"{% url 'cliente-ajax-ciudades' %}",
                    type:'GET',
                    success: function(data){
                        $('#id_ciudad').html(data);
                    },
                    failure: function(data){
                        console.log('error')
                    }
                });
            }
        }
    });
</script>
{% endblock %}