{% extends 'report.html' %}

{% block title %}
Clientes
{% endblock %}

{% block cuerpo %}
    <h1>Nuestros Clientes</h1>
    <table class="table">
        <thead>
            <tr>
                <th width="30px">#</th>
                <th>NIT/C.I.</th>
                <th>Razon Social</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Pais</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ cliente.nit }}</td>
                    <td>{{ cliente.razon }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.ciudad.pais }}</td>
                    <td>{{ cliente.ciudad }}</td>
                </tr>



            {% endfor %}
        </tbody>
    </table>De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
De: Joel
Para: Maribel

Maribel tu presencia me da Felicidad.
Tu recuerdo es un recuerdo dulce, que el tiempo no puede borrar. 
Maribel cuando te veo pasar en mis sueños, donde todo se convierte en un arte hermoso y suele existir la serenidad y la paz que no encuentro en la realidad tu has logrado atrapar mis sueños, has logrado conquistar mi corazón con tu dulzura, eres la persona mas tierna de mi universo, el que detiene el tiempo en mi pensamiento y hace temblar mi alma...
Maribel solamente quiero saber si me guardas en tu corazón. 
Porque el tiempo se vuelve mágico cuando estás cerca, porque te escondes en mis sueños. 
El olor a rosas anuncia tu llegada.
Recuerda que cuando quieras hablar conmigo aun distante mira al cielo y ahí estará tu estrella para escucharte y recuerda que tu calmas mi sed en el desierto de mi soledad porque creo en ti. 
Se que eres la persona mas sincera que existe en mi vida, te amoooooo mi amor.

te amo Maribel
{% endblock %}