{% extends 'report.html' %}

{% block title %}
Clientes
{% endblock %}

{% block cuerpo %}
<h2 align="center">DETALLE DE CLIENTES</h2>
<table >
    {% for cliente in clientes  %}
    <div> 
        <tr>
            <th class="celdas" colspan="4" width="100%" align="left" style="font-family: courier; font-size:15px; border: white;background-color:#d7d7d7;"> {{ forloop.counter }} DATOS DE: {{cliente.razon|upper}} <strong></strong> </th>
        </tr>
        <tr></tr>
        <tr  style="font-family: courier; font-size:12px;">

            <td width="17%">
                <p> <strong> CLIENTE: </strong></br>
                   <strong> NIT/C.I. </strong></br>
                   <strong> PAÍS / CIUDAD: </strong></br>
               </p>
           </td>
           <td width="35%">            
            <p> {{ cliente.razon |upper}}</br>
                {{ cliente.nit |upper}}</br>
                {{ cliente.ciudad.pais |upper}} / {{ cliente.ciudad |upper}} </br>
            </p>
            </td>
            <td width="12%">
                <p>
                    <strong> DIRECIÓN: </strong></br>
                    <strong> TELÉFONO: </strong> </br>
                    <strong> EMAIL: </strong></br>
                </p>
            </td>
            <td width="36%">
                        <p>{{ cliente.direccion |upper}} </br>
                        {{ cliente.telefono |upper}}</br>
                    {{ cliente.email}} </br>
                    </p>
            </td>
            {% endfor %}
        </tr>
    </div>
</table>

{% endblock %}