{% extends 'base.html' %}

{% block title %}
Detalle Venta Calamina
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            {% include 'includes/__info_venta.html' %}
            <hr>
            <div class="col-md-3">
                <a href="{% url 'venta-pdf-detail' venta.id %}" class="btn btn-info" target="_blank">
                    <i class="fa fa-camera-retro"></i> Proforma
                </a>
            </div>
            <div class="col-md-3">
        <!--a href="{% url 'venta-new-add-material-calamina' venta.id %}" class="btn btn-success">
            <i class="fa fa-plus-circle"></i> Agregar Material
        </a-->
    </div>
    {% if detalles %}
    <div class="col-md-3">
        <a href="{% url 'venta-confirm' venta.id %}" class="btn btn-primary">
            <i class="fa fa-money-bill-alt"></i> Confirmar Venta
        </a>
    </div>
    {% endif %}
    <div class="col-md-3">
        <a href="{% url 'venta-delete' venta.id %}" class="btn btn-danger">
            <i class="fa fa-money-bill-alt"></i> Cancelar Venta
        </a>
    </div>
    
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="app">Materiales Agregados <small style="font-family:arial">Lista de materiales</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Codigo Calamina</th>
                            <th>Tipo Calamina</th>
                            <th>Color</th>
                            <th>Espesor(mm)</th>
                            <th>Ancho(ml)</th>
                            <th>Precio ml(Bs)</th>
                            <th>Tamaño(ml)</th>
                            <th>Cantidad</th>
                            <th>Costo Total(Bs)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ detalle.preciocalamina.codigo }}</td>
                            <td>{{ detalle.tipo }}</td>
                            <td>{{ detalle.preciocalamina.color }}</td>
                            <td>{{ detalle.preciocalamina.espesor }}</td>
                            <td>{{ detalle.preciocalamina.ancho }}</td>
                            <td>{{ detalle.precio_id }}</td>
                            <td>{{ detalle.largo }}</td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>{{ detalle.costo_t }}</td>
                            <td>
                                <a href="{% url 'venta-delete-calamina' detalle.id %}" title="Eliminar Material", class="btn btn-danger">
                                    <i class="fa fa-close"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <form action="{% url 'venta-new-add-material-calamina-new' venta.id %}" method="post">{% csrf_token %}
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-groups di">
                                        <input type="text" class="form-control" id="codigo_id" name="codigo_id">
                                    </div>
                                    <div class="hide">
                                        <input type="text" class="form-control" id="preciocalamina_id" name="preciocalamina_id">
                                    </div>
                                </td>
                                <td id="tipocalamina"></td>
                                <td id="colorcalamina"></td>
                                <td id="espesorcalamina"></td>
                                <td id="anchocalamina"></td>
                                <td id="preciocalamina"></td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="largo_id" required name="largo_id">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="cantidad_id" required name="cantidad_id">
                                    </div>
                                </td>
                                <td id="preciototalcalamina"></td>
                                <td>
                                    <button type="submit" class="btn btn-info">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style>
.form-control.tt-hint{
    display: none;
}
</style>
{% endblock %}

{% block js %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/examples.css' %}">
<script src="{% static 'js/typeahead.bundle.js' %}"></script>

<script>
var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
        var matches, substringRegex;
        matches = [];
        substrRegex = new RegExp(q, 'i');
        $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
                matches.push(str);
            }
        });
        cb(matches);
    };
};
var states = [
{% for precio in precios %}
'{{ precio.codigo }}',
{% endfor %}
];

$('#codigo_id').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
},
{
    name: 'states',
    source: substringMatcher(states)
});
$(document).ready(function () {
    var largo = 0;
    var cantidad = 0;
    var total = 0;
    var precio = 0;
    $('#codigo_id').change(function () {
        var name = $(this).val();
        $.ajax({
            data:{'name': name},
            url:"{% url 'pedido-ajax-precio-calamina' %}",
            type:'GET',
            success: function(data){
                if(data){
                    $('#tipocalamina').html(data[0]['tipo__tipo']);
                    $('#preciocalamina').html(data[0]['precio']);
                    $('#espesorcalamina').html(data[0]['espesor']);
                    $('#anchocalamina').html(data[0]['ancho']);
                    $('#colorcalamina').html(data[0]['color__color']);
                    precio = data[0]['precio'];
                    $('#preciocalamina_id').val(data[0]['id']);
                }
                else{
                    $('#id_direccion').val(null);
                    $('#id_representante').val(null);
                    $('#id_telefono').val(null);
                    $('#id_email').val(null);
                    $('#id_nit').val(null);
                }
            },
            failure: function(data){
                console.log('error')
            }
        });
    });
    $('#largo_id').keyup(function () {
        largo = $('#largo_id').val();
        if(cantidad > 0){
            total = cantidad * largo;
            $('#preciototalcalamina').html(total * precio);
        }
    });
    $('#cantidad_id').keyup(function () {
        cantidad = $('#cantidad_id').val();
        if(largo > 0){
            total = cantidad * largo;
            $('#preciototalcalamina').html(total * precio);
        }
    });
});
</script>
{% endblock %}