{% extends '__form.html' %}

{% block title %}
Registrar Color
{% endblock %}

{% block legend %}
Registrar Color
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#id_hex').change(function () {
            $.ajax({
                data:{'hex': $(this).val()},
                url:"{% url 'color-ajax' %}",
                type:'GET',
                success: function(data){
                    //alert(data[0]['nombre_c']);
                    if(data[0]) {
                        $('#id_color').val(data[0]['nombre_c']);
                    }
                },
                failure: function(data){
                    console.log('error')
                }
            });
        });
    });
</script>
{% endblock %}